@charset "UTF-8";
body {
  background-color: beige;
}

#frame-a4 {
  width: 21cm;
  height: 29.7cm;
  margin: 0 auto;
  background-color: white;
  padding: 0.5cm;
  display: flex;
}

a {
  color: inherit;
  text-decoration: none;
  filter: brightness(120%);
  font-weight: bold;
}
a:hover {
  color: mediumblue;
}

main {
  padding-right: 10px;
  width: 610px;
}
main .item {
  margin-bottom: 20px;
}
main h2 {
  margin-top: 0;
  margin-bottom: 5px;
  text-transform: uppercase;
  font-family: "Crimson Text", serif;
  font-size: 1.25rem;
  position: relative;
}
main h2::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  background-color: black;
  bottom: 0;
  left: 0;
}
main p {
  text-align: justify;
  text-indent: 0.5cm;
  line-height: 1.1rem;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 0.85rem;
}
main ul.conteneur-experiences {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 0.85rem;
  line-height: 1.1rem;
}
main ul.conteneur-experiences li {
  list-style-type: none;
  margin-left: 0;
  width: 100%;
  margin-bottom: 12px;
}
main ul.conteneur-experiences li a {
  filter: brightness(120%);
  font-weight: bold;
}
main ul.conteneur-experiences li img {
  margin-right: 5px;
  padding-right: 5px;
}
main ul.conteneur-experiences li .lieu-poste {
  margin-left: 40px;
  line-height: 1.25rem;
  font-style: italic;
}
main ul.conteneur-experiences li .partie-haute {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
main ul.conteneur-experiences li .partie-haute .poste .poste-content {
  display: flex;
  align-items: flex-end;
  font-weight: bold;
}
main ul.conteneur-experiences li .partie-haute .date {
  color: grey;
}
main ul.conteneur-experiences li .description ul {
  padding-left: 10px;
}
main ul.conteneur-experiences li .description li {
  list-style-type: none;
  margin-bottom: 5px;
  position: relative;
  padding-left: 15px;
  font-size: 0.75rem;
  width: 600px;
}
main ul.conteneur-experiences li .description li:before {
  position: absolute;
  left: 0;
  content: "▹";
  z-index: 2;
}
main ul.conteneur-experiences li .description li .front-back {
  font-weight: bold;
}
main ul.conteneur-experiences li .description li .tag {
  border: 2px solid grey;
  padding: 0 3px;
  border-radius: 3px;
  line-height: 1.5rem;
}
main ul.conteneur-diplome {
  margin: 0;
  padding: 0;
}
main ul.conteneur-diplome li.flex-diplome {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
main ul.conteneur-diplome li.flex-diplome .img-box {
  margin: 0 7.5px;
  width: 30px;
  display: flex;
  justify-content: center;
}
main ul.conteneur-diplome li.flex-diplome .box-texte {
  width: 100%;
  display: flex;
  justify-content: space-between;
  font-family: "Poppins", sans-serif;
  font-size: 0.8rem;
}
main ul.conteneur-diplome li.flex-diplome .box-texte .nom-diplome {
  font-weight: bold;
}
main ul.conteneur-diplome li.flex-diplome .box-texte .date-diplome {
  color: grey;
}

aside {
  padding: 5px;
  min-width: 175px;
}
aside #id-container {
  margin: 0 auto;
  width: 175px;
  text-align: center;
}
aside #id-container .head-id {
  color: whitesmoke;
  background-color: #0a6b6b;
  padding: 5px 0px;
  margin: 0 auto 5px;
}
aside #id-container .head-id img {
  border-radius: 50%;
  border: 2px double white;
}
aside #id-container .head-id h1 {
  margin-top: 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.45rem;
  width: 100%;
  font-family: "Oswald", serif;
  letter-spacing: 1px;
}
aside #id-container .head-id h2 {
  font-family: "Poppins", sans-serif;
  font-size: 0.85rem;
  letter-spacing: 0.2px;
}
aside #id-container .bottom-id {
  background-color: #0e9595;
  text-align: left;
  padding: 10px 5px;
  height: 100%;
  color: whitesmoke;
}
aside #id-container .bottom-id .info-content img {
  line-height: 0.1rem;
}
aside #id-container .bottom-id .info-content .info {
  text-indent: 15px;
  font-family: "Poppins", sans-serif;
  font-size: 0.75rem;
}/*# sourceMappingURL=main.css.map */